hmc:
  cft-hearing-service:
    host: http://localhost:${wiremock.server.port:5000}
  hearing:
    terminalStates: ${HEARING_TERMINAL_STATES:COMPLETED,ADJOURNED,CANCELLED}

jms:
  servicebus:
    connection-string: ${HMC_SERVICE_BUS_CONNECTION_STRING:Endpoint=sb://destination1.servicebus.windows.net;SharedAccessKeyName=[KEYNAME];SharedAccessKey=[KEY]}
    queue-name: ${HMC_SERVICE_BUS_QUEUE:hmc-from-hmi}

hmac:
  secrets:
    # fake value for testing - should be 32 bytes when base64 decoded
    hmi-to-hmc: ${HMI_TO_HMC_SIGNING_SECRET:AAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8=}

idam:
  api:
    url: http://localhost:${wiremock.server.port:5000}/idam
  s2s-auth:
    url: http://localhost:${wiremock.server.port:4502}/s2s
